.add-option {
	display: flex;
	flex-direction: column;
	padding: $m-size;
}

.add-option-error {
	color: $pink;
	padding: 0 $m-size;
	font-style: italic;
	margin: $m-size 0 0 0;
}

.add-option__input {
	flex-grow: 1;
	background: $dark-purple-1;
	border: none;
	border-bottom: none;
	margin: 0 0 $s-size 0;
	color: $cream;
	padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
	.add-option {
		flex-direction: row;
	}
	.add-option__input {
		border-bottom: 0.3rem solid darken($color: $purple-main, $amount: 10%);
		margin: 0;
	}
}
