// Colour variables
$dark-purple-1: #1b0925;
$dark-purple-2: #2e0e41;
$dark-purple-3: #36104d;
$purple-main: #9935d5;
$pink: #ff74ba;
$sky-blue: #d5d5ff;
$cream: #fcfbf5;

// Spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// breakpoint
$desktop-breakpoint: 45rem;
